META-INF/

# IntelliJ specific
!intellijProject/*.iml
.idea/
!intellijProject/*.idea
.idea_modules/

# generic
*.class
*.log
*.swp
*~
\#*#
.DS_Store


# jrebel
rebel.xml
*.swp

atlassian-ide-plugin.xml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
